body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #e63946;
    color: white;
    padding: 20px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brusnika{
    display: flex;
}
.intro__title{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #FF0000;
    margin-bottom: 125px;
    text-align: center;
}

.intro__suptitle{
    font-size: 40px;
    margin-bottom: 125px;
    color: #000000;
    text-align: center;
    /*text-shadow: #000000 1px 0 15px;*/
    padding-bottom: 10px;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: nowrap;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #e63946;
    padding-bottom: 10px;
}

footer {
    background-color: #e63946;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
.intro {
    display: flex; 
    justify-content: center;
    height: 80vh; 
    margin: 0; 
}
.intro_p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 30px;
}
.button {
    background-color: #e63946; 
    border: none; 
    color: white;
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.button:hover {
    background-color: #903030; 
}
#products {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 20px; 
}

.product {
    flex: 0 1 calc(50% - 10px); 
    box-sizing: border-box;
    margin-bottom: 20px; 
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #fff; 
    text-align: center; 
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: background-color 0.3s;
}
.product:hover {
    background-color: #e63946;
}
.product img {
    width: 50%; 
    margin-bottom: 10px; 
}

.product h3 {
    margin: 10px 0 5px; 
}

.product p, .product span {
    margin: 5px 0; 
}
#reviews {
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    margin: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

#reviews h2 {
    text-align: center; 
    margin-bottom: 20px; 
}

.review {
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 15px; 
    margin-bottom: 15px; 
    transition: transform 0.3s; 
}

.review:hover {
    transform: scale(1.02); 
}

.review h3 {
    margin: 0; 
}

.review p {
    margin: 10px 0; 
}

.review span {
    font-size: 1.2em; 
    color: #e63946; 
}
#product-description {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-details {
    display: flex;
}

.product-details img {
    max-width: 45%; 
    margin-right: 20px;
}

.description {
    flex: 1;
}
.brusnika {
    display: flex;
    align-items: center;
}

.brusnika h1 {
    margin: 0 10px 0 0;
}

.brusnika img {
    width: 50px; /* Размер изображения */
}

/* Навигация */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
}

/* Основной блок для авторизации */
.login {
    flex: 1; /* Заставляем блок авторизации занимать доступное пространство */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #903030;
}

.login-container form{
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Футер */
footer {
    background-color: #e63946;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.purchase-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px; /* Максимальная ширина формы */
    margin: 0 auto;   /* Центрируем по горизонтали */
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Учитываем отступы и границы в размере элемента */
}

/* Заголовок формы */
.purchase-form h3 {
    text-align: center;
    margin-bottom: 20px;
}

/* Стили для label */
.purchase-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

/* Стили для input и select */
.purchase-form select,
.purchase-form input[type="number"],
.purchase-form button {
    width: 100%;         /* Ширина 100% */
    padding: 10px;       /* Отступы внутри */
    margin-bottom: 20px; /* Отступ снизу */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Учитываем отступы и границы в размере элемента */
}

/* Стили для кнопки */
.purchase-form button {
    background-color: #e63946;
    color: white;
    cursor: pointer;
}

.purchase-form button:hover {
    background-color: #903030;
}

/* Стили для блока итоговой цены */
.total-price {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.total-price span {
    font-size: 20px;
    color: #e74c3c;
}
